root=true

[*]
indent_style=space
indent_size=4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.{ts,js}]
indent_size=2

[*.service.{ts,js}]
indent_size=4

[*.md]
trim_trailing_whitespace = false